/*Bus Mall*/
/** {
  outline: 2px dotted orange;
}*/

body {
  width: 960px;
  background-color: #fff;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
}

p {
  font-size: 18px;
  line-height: 20px;
  padding: 5px;
}

header, footer {
  height: auto;
  width: 100%;
  background-color: #3347B2;
  color: #FFD963;
}

header h1 {
  font-size: 36px;
  font-weight: 800;
  padding: 20px 20px 0px 20px;
}

header h2 {
  font-size: 24px;
  font-weight: 400;
  padding: 10px 20px 20px 20px
}

footer p {
  font-size: 10px;
  text-align: center;
  padding: 15px 15px;
}

img {
  height: 200px;
  width: 200px;
  outline: 2px solid black;
  margin: 20px 30px;
}

.image-row {
  margin-left: 100px;
}

.results {
  height: 500px;
  width: auto;
  margin-left: 40px;
}

canvas {
  /*outline: 2px solid black;*/
}

#resultsbutton {
  display: none;
  background-color: #FFD963; /* Green */
  height: 35px;
  width: 150px;
  color: 000;
  font-size: 16px;
}

#resultschart {
  width: 700px;
  height: 400px;
  /*display: none;*/
}
